<h2 class="b-section-title">Proyección y análisis de cliente</h2>
<div class="b-list-container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre y Apellido</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody *ngFor="let client of clients; let i = index">
      <tr>
        <th scope="row">{{i + 1}}</th>
        <td>{{client.firstName + ' ' + client.surname}}</td>
        <td>
          <button class="btn btn-info" [routerLink]="['/client/list', client.id]">Detalle</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
