<h2 class="b-section-title">Creación de clientes</h2>
<section class="b-form-container">
  <form [formGroup]="registerFormGroup" (submit)="registerSubmit(registerFormGroup)">
    <div class="form-group">
      <label for="firstName">Nombre:</label>
      <input type="email" class="form-control" id="firstName" formControlName="firstName">
      <small *ngIf="registerFormGroup.controls['firstName'].errors?.required && registerFormGroup.controls['firstName'].touched"
        class="form-text b-field-error">El campo es invalido.</small>
    </div>
    <div class="form-group">
      <label for="surname">Apellido:</label>
      <input type="text" class="form-control" id="surname" formControlName="surname">
      <small *ngIf="registerFormGroup.controls['surname'].errors?.required && registerFormGroup.controls['surname'].touched"
        class="form-text b-field-error">El campo es invalido</small>
    </div>
    <div class="form-group">
      <label for="age">Edad:</label>
      <input type="number" class="form-control" id="age" formControlName="age" min="1" >
      <small *ngIf="registerFormGroup.controls['age'].errors?.required && registerFormGroup.controls['age'].touched"
        class="form-text b-field-error">El campo es invalido</small>
    </div>
    <div class="form-group">
      <label for="birthdate">Fecha de nacimiento:</label>
      <input type="text" class="form-control" id="birthdate" formControlName="birthdate">
      <small *ngIf="registerFormGroup.controls['birthdate'].errors?.required && registerFormGroup.controls['birthdate'].touched"
        class="form-text b-field-error">El campo es invalido</small>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="registerFormGroup.invalid">Registrar</button>
  </form>
</section>
